<h1>All Upcoming Events </h1>

<form method="GET" action="/events/new">
    <input type="submit" value="New Event" />
</form>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Attendees</th>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Staff Required</th>
        </tr>
    </thead>
    <tbody>
        {{#each allAquariumEvents}}
        <tr>
            <td><a href ="events/{{_id}}">{{date}}</a></td>
            <td>{{type}}</td>
            <td>{{attendees}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{location}}</td>
            <td>{{staff}}</td>
        </tr>
     {{/each}}
     </tbody>
</table>