<form method="POST" action="/events/{{editEvents._id}}?_method=PUT">

    <label for="date">Date</label>
    <input type="date" name="date" value="{{editEvents.date}}"/>

    {{!-- Dropdown menu for event type --}}
    <label for="type">Type</label>
      <select name="type">
        <option value="Education" {{dropdownHelper editEvents.type "Education"}}>Education</option>
        <option value="Recurring"{{dropdownHelper editEvents.type "Recurring"}}>Recurring</option>
        <option value="Wedding" {{dropdownHelper editEvents.type "Wedding"}}>Wedding</option>
        <option value="Corporate" {{dropdownHelper editEvents.type "Corporate"}}>Corporate</option>
        <option value="Holiday" {{dropdownHelper editEvents.type "Holiday"}}>Holiday</option>
    </select>

    <label for="attendees">Attendees</label>
    <input type="number" name="attendees" value="{{editEvents.attendees}}"/>

    <label for="title">Title</label>
    <input type="text" name="title" value="{{editEvents.title}}"/>

    <label for="description">Description</label>
    <input type="text" name="description" value="{{editEvents.description}}"/>

    {{!-- Dropdown menu for exhibit list --}}
    <label for="location">Exhibit</label>
      <select name="location">
        <option value="Ocean's Ballroom" {{dropdownHelper editEvents.location "Ocean's Ballroom"}}>Ocean's Ballroom</option>
        <option value="Atlantic Ballroom" {{dropdownHelper editEvents.location "Atlantic Ballroom"}}>Atlantic Ballroom</option>
        <option value="Pacific Ballroom" {{dropdownHelper editEvents.location "Pacific Ballroom"}}>Pacific Ballroom</option>
        <option value="Artic Ballroom" {{dropdownHelper editEvents.location "Artic Ballroom"}}>Artic Ballroom</option>
        <option value="Entire Aquarium Event" {{dropdownHelper editEvents.location "Entire Aquarium Event"}}>Entire Aquarium Event</option>
        <option value="Gallery Event" {{dropdownHelper editEvents.location "Gallery Event"}}>Gallery Event</option>
        <option value="Pemberton Place" {{dropdownHelper editEvents.location "Pemberton Place"}}>Pemberton Place</option>
    </select>

    <label for="staff">Staff Needed</label>
    <input type="number" name="staff" value="{{editEvents.staff}}"/>

    <input type="submit" value="Update Event" />
</form>

<form method="GET" action="/events">
    <input type="submit" value="&#8592; Back to Main Event List" />
</form>