<form method="POST" action="/feedback/{{editFeedback._id}}?_method=PUT">

    <label for="date">Date</label>
    <input type="date" name="date" value="{{editFeedback.date}}"/>

    {{!-- Dropdown menu for feedback type --}}
    <label for="type">Type</label>
      <select name="type">
        <option value="Exhibit" {{dropdownHelper editFeedback.type "Exhibit"}}>Exhibit</option>
        <option value="Event" {{dropdownHelper editFeedback.type "Event"}}>Event</option>
        <option value="Other" {{dropdownHelper editFeedback.type "Other"}}>Other</option>
    </select>

    <label for="title">Title</label>
    <input type="text" name="title" value="{{editFeedback.title}}"/>

    <label for="description">Description</label>
    <input type="text" name="description" value="{{editFeedback.description}}"/>

    <label for="staff">Staff Required</label>
    <input type="number" name="staff" value="{{editFeedback.staff}}"/>

        {{!-- Dropdown menu for status --}}
    <label for="status">Status</label>
      <select name="status">
        <option value="Pending" {{dropdownHelper editFeedback.status "Pending"}}>Pending</option>
        <option value="In Progress" {{dropdownHelper editFeedback.status "In Progress"}}>In Progress</option>
        <option value="Shelved" {{dropdownHelper editFeedback.status "Shelved"}}>Shelved</option>
        <option value="Completed" {{dropdownHelper editFeedback.status "Completed"}}>Completed</option>
    </select>

            {{!-- Dropdown menu for priority --}}
    <label for="priority">Priority</label>
       <select name="priority"> 
        <option value="Urgent" {{dropdownHelper editFeedback.priority "Urgent"}}>P1</option>
        <option value="High" {{dropdownHelper editFeedback.priority "High"}}>P2</option>
        <option value="Medium" {{dropdownHelper editFeedback.priority "Medium"}}>P3</option>
        <option value="Low" {{dropdownHelper editFeedback.priority "Low"}}>P4</option>
    </select>

    <input type="submit" value="Update Feedback" />
</form>

<form method="GET" action="/feedback">
    <input type="submit" value="&#8592; Back to Feedback List" />
</form>