<div class="parent">
<div class="profile">
    <div class="pic">
        <img src="/hoopes.jpg" class="exampleProfile">
        <h2>Lisa Hoopes,  Ph.D.</h2>
        <h4>Director of Research | Conservation and Nutrition</h4>
    </div>
    <div>
        <p>&#9993; lhoopes@example.com</p>
        <p>&#9742; 404-555-7289</p>
        <p>&#9998; Edit</p>
    </div>
</div>
<div class="allMovesContent">
<h2>{{singleFeedback.title}}</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Title</th>
            <th>Description</th>
            <th>Staff Needed</th>
            <th>Status</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{singleFeedback.date}}</td>
            <td>{{singleFeedback.type}}</td>
            <td>{{singleFeedback.title}}</td>
            <td>{{singleFeedback.description}} </td>
            <td>{{singleFeedback.staff}} </td>
            <td>{{singleFeedback.status}} </td>
            <td>{{singleFeedback.priority}} </td>
        </tr>
    </tbody>
</table>

<form method="GET" action="/feedback/{{singleFeedback._id}}/edit">
    <input type="submit" value="Edit" />
</form>

<form method="POST" action="/feedback/{{singleFeedback._id}}?_method=DELETE">
    <input type="submit" value="Delete"/>
</form>


<form method="GET" action="/feedback">
    <input type="submit" value="&#8592; Back to Feedback List" />
</form>
</div>
</div> 