<h1>{{singleFeedback.title}}</h1>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Title</th>
            <th>Description</th>
            <th>Staff Needed</th>
            <th>Status</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{singleFeedback.date}}</td>
            <td>{{singleFeedback.type}}</td>
            <td>{{singleFeedback.title}}</td>
            <td>{{singleFeedback.description}} </td>
            <td>{{singleFeedback.staff}} </td>
            <td>{{singleFeedback.status}} </td>
            <td>{{singleFeedback.priority}} </td>
        </tr>
    </tbody>
</table>

<form method="GET" action="/feedback/{{singleFeedback._id}}/edit">
    <input type="submit" value="Edit" />
</form>

<form method="POST" action="/feedback/{{singleFeedback._id}}?_method=DELETE">
    <input type="submit" value="Delete"/>
</form>


<form method="GET" action="/feedback">
    <input type="submit" value="Back to Feedback List" />
</form>
