<h1>All Exhibit Moves</h1>

<form method="GET" action="/exhibit/new">
    <input type="submit" value="New Move" />
</form>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Species</th>
            <th>Quantity</th>
            <th>Exhibit</th>
            <th>Date</th>
            <th>Status</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        {{#each allAnimalMoves}}
        <tr>
            <td><a href ="exhibit/{{_id}}">{{type}}</a></td>
            <td>{{species}}</td>
            <td>{{quantity}}</td>
            <td>{{exhibit}}</td>
            <td>{{date}}</td>
            <td>{{status}}</td>
            <td>{{priority}}</td>
        </tr>
    </tbody>
     {{/each}}
</table>
        