<div class="parent">
<div class="profile">
    <div class="pic">
        <img src="/clauss.jpg" class="exampleProfile">
        <h2>Tonya Clauss, DVM</h2>
        <h4>Senior Director of Animal Health</h4>
    </div>
    <div>
        <p>&#9993; Email</p>
        <p>&#9742; Phone</p>
        <p>&#9998; Edit</p>
    </div>
    <div>

    </div>

</div>
<div class="allMovesContent">
<h2>All Exhibit Moves</h2>
<form method="GET" action="/exhibit/new" class="buttonForm">
    <input type="submit" value="+" class="newMoveButton" />
</form>
<table class="allMovesTable">
    <thead>
        <tr>
            <th class="allMovesColumns">Type</th>
            <th class="allMovesColumns">Species</th>
            <th class="allMovesColumns">Quantity</th>
            <th class="allMovesColumns">Exhibit</th>
            <th class="allMovesColumns">Date</th>
            <th class="allMovesColumns">Status</th>
            <th class="allMovesColumns">Priority</th>
        </tr>
    </thead>
    <tbody>
        {{#each allAnimalMoves}}
        <tr>
            <td><a href ="exhibit/{{_id}}">{{type}}</a></td>
            <td>{{species}}</td>
            <td>{{quantity}}</td>
            <td>{{exhibit}}</td>
            <td>{{date}}</td>
            <td>{{status}}</td>
            <td>{{priority}}</td>
        </tr>
     {{/each}}
    </tbody>
</table>
</div>
</div> 