<div class="parent">
<div class="profile">
    <div class="pic">
        <img src="/clauss.jpg" class="exampleProfile">
        <h2>Tonya Clauss, DVM</h2>
        <h4>Senior Director of Animal Health</h4>
    </div>
    <div>
        <p>&#9993; tclauss@example.com</p>
        <p>&#9742; 404-555-8972</p>
        <p>&#9998; Edit</p>
    </div>
</div>
<div class="allMovesContent">
<h2>Edit : {{editMoves.species}}</h2>
<form method="POST" action="/exhibit/{{editMoves._id}}?_method=PUT" class="newMoveForm">

        {{!-- Dropdown menu for animal type --}}
    <label for="type">Type</label>
      <select name="type">
        <option value="Birds" {{dropdownHelper editMoves.type "Birds"}}>Birds</option>
        <option value="Fish" {{dropdownHelper editMoves.type "Fish"}}>Fish</option>
        <option value="Invertebrates" {{dropdownHelper editMoves.type "Invertebrates"}}>Invertebrates</option>
        <option value="Mammals" {{dropdownHelper editMoves.type "Mammals"}}>Mammals</option>
        <option value="Sharks & Rays" {{dropdownHelper editMoves.type "Sharks & Rays"}}>Sharks & Rays</option>
    </select>

    <label for="species">Species</label>
    <input type="text" name="species" value="{{editMoves.species}}"/>

    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" value="{{editMoves.quantity}}"/>

        {{!-- Dropdown menu for exhibit list --}}
    <label for="exhibit">Exhibit</label>
      <select name="exhibit">
        <option value="Aquanaut Adventure" {{dropdownHelper editMoves.exhibit "Aquanaut Adventure"}}>Aquanaut Adventure</option>
        <option value="Cold Water Quest" {{dropdownHelper editMoves.exhibit "Cold Water Quest"}}>Cold Water Quest</option>
        <option value="Dolphin Coast" {{dropdownHelper editMoves.exhibit "Dolphin Coast"}}>Dolphin Coast</option>
        <option value="Ocean Voyager" {{dropdownHelper editMoves.exhibit "Ocean Voayager"}}>Ocean Voyager</option>
        <option value="River Scout" {{dropdownHelper editMoves.exhibit "River Scout"}}>River Scout</option>
        <option value="Pier 225" {{dropdownHelper editMoves.exhibit "Pier 225"}}>Pier 225</option>
        <option value="Tropical Diver" {{dropdownHelper editMoves.exhibit "Tropical Diver"}}>Tropical Diver</option>
        <option value="Tropical Diver" {{dropdownHelper editMoves.exhibit "Infirmary"}}>Infirmary</option>
    </select>

    <label for="date">Date</label>
    <input type="date" name="date" value="{{editMoves.date}}"/>

            {{!-- Dropdown menu for status --}}
    <label for="status">Status</label>
      <select name="status">
        <option value="Pending" {{dropdownHelper editMoves.status "Pending"}}>Pending</option>
        <option value="In Progress" {{dropdownHelper editMoves.status "In Progress"}}>In Progress</option>
        <option value="Shelved" {{dropdownHelper editMoves.status "Shelved"}}>Shelved</option>
        <option value="Completed" {{dropdownHelper editMoves.status "Completed"}}>Completed</option>
    </select>

              {{!-- Dropdown menu for priority --}}
    <label for="priority">Priority</label>
      <select name="Priority">
        <option value="Urgent" {{dropdownHelper editMoves.priority "P1"}}>P1</option>
        <option value="High" {{dropdownHelper editMoves.priority "P2"}}>P2</option>
        <option value="Medium" {{dropdownHelper editMoves.priority "P3"}}>P3</option>
        <option value="Low" {{dropdownHelper editMoves.priority "P4"}}>P4</option>
    </select>

    <input type="submit" value="&#9998; Update" class="submitNewMove"/>
</form>

<form method="GET" action="/exhibit">
    <input type="submit" value="&#8592; Back to Main List" />
</form>
</div>
</div> 