<form method="POST" action="/exhibit/{{allMoves._id}}?_method=PUT">
    <label for="type">Type</label>
    <input type="text" name="type" value="{{newMove.type}}"/>

    <label for="species">Species</label>
    <input type="text" name="type" value="{{newMove.species}}"/>

    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" value="{{newMove.quantity}}"/>

        {{!-- Dropdown menu for exhibit list --}}
    <label for="exhibit">Exhibit</label>
      <select name="exhibit" value="{{newMove.exhibit}}">
        <option value="Aquanaut Adventure">Aquanaut Adventure</option>
        <option value="Cold Water Quest">Cold Water Quest</option>
        <option value="Dolphin Coast">Dolphin Coast</option>
        <option value="Ocean Voyager">Ocean Voyager</option>
        <option value="River Scout">River Scout</option>
        <option value="Pier 225">Pier 225</option>
        <option value="Tropical Diver">Tropical Diver</option>
    </select>

    <label for="date">Date</label>
    <input type="date" name="date" value="{{newMove.date}}"/>

            {{!-- Dropdown menu for status --}}
    <label for="status">Status</label>
      <select name="status" value="{{newMove.status}}">
        <option value="Pending">Pending</option>
        <option value="In Progress">In Progress</option>
        <option value="Shelved">Shelved</option>
        <option value="Completed">Completed</option>
    </select>

              {{!-- Dropdown menu for priority --}}
    <label for="priority">Priority</label>
      <select name="Priority" value="{{newMove.priority}}">
        <option value="Urgent">P1</option>
        <option value="High">P2</option>
        <option value="Medium">P3</option>
        <option value="Low">P4</option>
    </select>

    <input type="submit" value="Update Move" />
</form>

<form method="POST" action="/exhibit/{{move._id}}?method=DELETE">
    <input type="submit" value="Delete"/>
</form>