<h1>{{singleMove.species}}</h1>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Species</th>
            <th>Quantity</th>
            <th>Exhibit</th>
            <th>Date</th>
            <th>Status</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{singleMove.type}}</td>
            <td>{{singleMove.species}}</td>
            <td>{{singleMove.quantity}}</td>
            <td>{{singleMove.exhibit}}</td>
            <td>{{singleMove.date}}</td>
            <td>{{singleMove.status}}</td>
            <td>{{singleMove.priority}}</td>
        </tr>
    </tbody>
</table>
        

<form method="GET" action="/exhibit/{{singleMove._id}}/edit">
    <input type="submit" value="Edit" />
</form>

<form method="POST" action="/exhibit/{{singleMove._id}}?_method=DELETE">
    <input type="submit" value="Delete"/>
</form>


<form method="GET" action="/exhibit">
    <input type="submit" value="Back to Main List" />
</form>
